modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SUPABASE_URL = "https://ldwqrdlipzqsnpljqyhk.supabase.co/rest/v1"
VAPID_PUBLIC_KEY = "BNVDd3QIHazDoEsBjs53IgsdInLyemhrLw-YqFCoWDbr4ZF-FsfJ93L5z3H7LqHCwK48FCIvXeXPYSH7SmAkWzA"
VAPID_PRIVATE_KEY = "YmlE_fJzu0yi6MTRGw7Yt11FmyMWMxcjz4oaY7Top28"
VAPID_CONTACT = "mailto:admin@iplfantasy.app"

[nix]
channel = "stable-25_05"
